<li class="breadcrumbs__item <%= defined? active && active ? 'breadcrumbs__item--active' : '' %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <span itemprop="name"><%= name %></span>
</li>
