<% content_for :head do %>
	<title>Cookies - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Cookies', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">

		<div class="column-two-thirds">
			<h1 class="heading-large">Cookies</h1>
			<p class="summary">GOV.UK PaaS puts small files (known as ‘cookies’) onto your computer.
			</p>
			<p>Cookies are used to:</p>
			<ul class="list list-bullet">
				<li>remember you once you've signed in</li>
				<li>keep your session open</li>
				<li>avoid malicious requests</li>
			</ul>
			<p>Find out <a href="https://ico.org.uk/for-the-public/online/cookies/" data-click-events data-click-category="Content" data-click-action="External link clicked">how to manage cookies</a>.</p>

			<h2 class="heading-medium">Session cookies (strictly necessary)</h2>
			<p>We store session cookies on your computer to help keep your information secure when you sign into the service.</p>

			<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Purpose</th>
					<th>Expires</th>
				</tr>
			</thead>
				<tbody>
					<tr>
						<th width="33%">JSESSIONID</th>
						<td>This is set to identify your session</td>
						<td width="16%">when you close the browser</td>
					</tr>
					<tr>
						<th width="33%">__VCAP_ID__</th>
						<td>This is used with JSESSIONID to route your request to the right application instance (‘sticky session’)</td>
						<td width="16%">when you close the browser</td>
					</tr>
					<tr>
						<th width="33%">X-Uaa-Csrf</th>
						<td>This is set to verify that your requests haven’t been tampered with by a malicious third party</td>
						<td width="16%">1 day</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
