<% content_for :head do %>
	<title>Application development - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Features, roadmap and security', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<%== erb :'partials/_subnav', :locals => {active: 'developer'} %>
		</div>

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Application development</h1>
			<p>GOV.UK PaaS gives you a straightforward way to run your cloud native applications in containers. The platform supports most common programming languages and Docker containers.</p>
			<h2 class="heading-medium">Languages</h2>
			<p>GOV.UK PaaS provides a consistent experience for different programming languages through the use of language <a href="https://docs.cloudfoundry.org/buildpacks/">buildpacks</a>.</p>
			<p>
				<table class="govuk-table">
<colgroup>
<!-- <col style="width: 50%" />
<col style="width: 50%" /> -->
</colgroup>

<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Buildpack</th>
<th scope="col" class="govuk-table__header">Description</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Binary</th>
<td class="govuk-table__cell">a <a href="https://docs.cloudfoundry.org/buildpacks/binary/index.html">binary</a> web application</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Custom</th>
<td class="govuk-table__cell"><a href="https://docs.cloudfoundry.org/buildpacks/custom.html">a custom buildpack</a> providing a language runtime from the wider Cloud Foundry community</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Go</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/go/index.html">Go programming language</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Java</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/java/index.html">Java programming language</a> or Java Virtual Machine languages such as Scala</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Nginx</th>
<td class="govuk-table__cell"><a href="https://docs.cloudfoundry.org/buildpacks/nginx/index.html">a web server</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Nodejs</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/node/index.html">Nodejs programming language</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">PHP</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/php/index.html">PHP programming language</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Ruby</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/ruby/index.html">Ruby programming language</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Python</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/python/index.html">Python programming language</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">R</th>
<td class="govuk-table__cell">apps written in the <a href="https://docs.cloudfoundry.org/buildpacks/r/index.html">R programming language</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell" class="govuk-table__header">Static</th>
<td class="govuk-table__cell">a <a href="https://docs.cloudfoundry.org/buildpacks/staticfile/index.html">static HTML/CSS/Javascript website</a> served by nginx. The product of site publishing tools such as <a href="https://jekyllrb.com/">Jekyll</a>, <a href="https://middlemanapp.com/">Middleman</a> or <a href="https://gohugo.io/">Hugo</a></td>
</tr>
</tbody>
</table>

			</p>
			<h2 class="heading-medium">Docker</h2>
			<p>GOV.UK PaaS also <a href="https://docs.cloud.service.gov.uk/deploying_apps.html#deploy-a-docker-image">supports the deployment of Docker images</a> with the following caveats:</p>
			<ul class="list list-bullet">
			<li>We do not offer a Docker registry service</li>
			<li>Images must be pushed to a Docker registry such as <a href="https://hub.docker.com/">DockerHub</a> or <a href="https://cloud.google.com/container-registry">Google Container Registry</a> before they can be deployed to GOV.UK PaaS. Your ability to stage and restage Docker applications is tied to the availability of the registry hosting the images.</li>
			<li>GOV.UK PaaS does not support Docker Compose multi-container applications</li>
			<li>The maximum size of Docker image that may be staged is 4GB</li>
			</ul>
			<h2 class="heading-medium">Backing services</h2>
			<p>GOV.UK PaaS provides a number of highly available backing services. Please visit <a href="https://admin.london.cloud.service.gov.uk/marketplace">our marketplace</a> to view more information about these services.</p>
			<p>
<table class="govuk-table">
<colgroup>
<!-- <col style="width: 50%" />
<col style="width: 50%" /> -->
</colgroup>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Service</th>
<th scope="col" class="govuk-table__header">Description</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<th class="govuk-table__cell">CDN-route</th>
<td class="govuk-table__cell">Proxy traffic from a user controlled domain to an existing Cloud Foundry application or external URL. This allows you to bring your own domain to the platform and have the platform manage your TLS certificates using <a href="https://aws.amazon.com/cloudfront/">AWS Cloudfront</a> + Letsencrypt</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell">Elasticsearch</th>
<td class="govuk-table__cell"><a href="https://www.elastic.co/products/elasticsearch">A search engine</a> with a full-text search engine, an HTTP web interface and schema-free JSON documents.</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell">MySQL</th>
<td class="govuk-table__cell"><a href="https://www.mysql.com/">A relational database</a> system</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell">Object Store</th>
<td class="govuk-table__cell">Object storage using <a href="https://aws.amazon.com/s3/">AWS S3</a></td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell">PostgreSQL</th>
<td class="govuk-table__cell"><a href="https://www.postgresql.org/">A relational database</a> system</td>
</tr>
<tr class="govuk-table__row">
<th class="govuk-table__cell">Redis</th>
<td class="govuk-table__cell"><a href="https://redis.io/">A distributed, in-memory key-value database</a></td>
</tr>
</tbody>
</table>

			</p>
			<h2 class="heading-medium">External services</h2>
			<p>In addition to the service we provide, applications can connect to other internet hosted back-ends allowing you to integrate third party services and other platforms through public web APIs.</p>
			<h2 class="heading-medium">Public and private networking</h2>
			<p>Applications on GOV.UK PaaS typically have a route to allow <a href="https://docs.cloud.service.gov.uk/deploying_apps.html#deploying-public-apps">inbound connections via the internet</a>.</p>
			<p>The platform also supports <a href="https://docs.cloud.service.gov.uk/deploying_apps.html#deploying-private-apps">private applications</a> (i.e. applications without a public internet route).</p>


		</div>
	</div>
</div>


---
