<% content_for :head do %>
	<title>Features - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Features, roadmap and security', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">

		<div class="column-one-third">
			<%== erb :'partials/_subnav', :locals => {active: 'features'} %>
		</div>


		<div class="column-two-thirds">
			<h1 class="heading-xlarge">HELLO MARK Features</h1>

			<h2 class="heading-medium">Reliable cloud infrastructure for government services</h2>

			<p>GOV.UK PaaS is a reliable and security-compliant application platform for running your government service in the cloud.</p>

			<p>The platform is hosted on Amazon Web Services in the UK, with hosting in Ireland also available. Applications are automatically run across three independent availability zones to ensure resilience.</p>

			<p><a href="https://status.cloud.service.gov.uk/">View our last 3 months performance on our service status page</a></p>

			<h2 class="heading-medium">Build services faster</h2>

			<p>GOV.UK PaaS offers tools to help teams build and run cloud native applications in production without the need for specialist infrastructure skills. We maintain and secure the infrastructure, so your team can focus on improving your applications.</p>

			<p>GOV.UK PaaS provides:</p>

			<ul class="list list-bullet">
			<li>a self-service developer experience, based on open source Cloud Foundry</li>
			<li><a href="https://docs.cloud.service.gov.uk/deploying_apps.html#buildpacks">buildpack</a> support for writing applications in most major languages including:
			<ul class="list list-bullet">
			  <li>Go</li>
			  <li>Java (and other JVM-based languages such as Scala)</li>
			  <li>Node.js,</li>
			  <li>PHP</li>
			  <li>Python</li>
			  <li>R</li>
			  <li>Ruby</li>
			  <li>.NET Core</li>
			  <li>a static HTML/CSS/Javascript site</li>
			  <li>a compiled binary</li>
			</ul></li>
			<li>backing services including:
			<ul class="list list-bullet">
			<li>Elasticsearch</li>
			<li>MySQL</li>
			<li>PostgreSQL</li>
			<li>Redis - S3</li>
			</ul></li>
			<li><a href="https://www.cloud.service.gov.uk/observability">observability for your apps</a> including support for logs, metrics and tracing.</li>
			</ul>


			<p>GOV.UK PaaS users can use the <a href="https://docs.cloud.service.gov.uk/get_started.html#set-up-the-cloud-foundry-command-line">Cloud Foundry command line interface</a> (or API) to:</p>
			<ul class="list list-bullet">
				<li>manage applications</li>
				<li>attach backing services to applications</li>
				<li>scale applications up and down in seconds</li>
				<li>create private applications to deploy microservices that are not accessible from the public internet</li>
				<li>automate repeatable creation of environments</li>
				<li>perform zero-downtime application deployments</li>
			</ul>

			<h2 class="heading-medium">Manage user access, services and costs</h2>

			<p>Our simple to use admin tool gives you an easy way to oversee your applications, services users and billing.</p>

			<p>We provide:</p>
			<ul class="list list-bullet">
			  <li>simplified user account management and support for single sign-on with your organisation’s Google and Microsoft accounts</li>
			  <li>usage and billing summaries in real time</li>
			  <li>monitoring for your backing services and application events “out of the box”</li>
			</ul>


			<h2 class="heading-medium">Build services more securely</h2>

			<p>GOV.UK PaaS is designed to meet the <a href="https://www.cloud.service.gov.uk/cloud-security-principles">NCSC Cloud Security Principles</a>.</p>

			<p>The platform is assured for use at OFFICIAL. As the data owner for a service <a href="https://www.gov.uk/guidance/official-sensitive-data-and-it">you must ensure that appropriate controls are in place when handling Official data</a>.</p>

			<p>Security features we offer include:
				<ul class="list list-bullet">
				  <li>modern TLS standards enforced for all traffic entering the platform</li>
				  <li>application isolation so that they can’t read or change each other's code, data or logs</li>
				  <li>private internal network communication between applications</li>
				  <li>authenticated SSH access to application containers to debug problems</li>
				  <li>single sign-on through your organisation's Microsoft or Google accounts</li>
				  <li>ingress to the platform protected by AWS Shield</li>
				</ul>
			</p>

			<p><a href="https://www.cloud.service.gov.uk/security">Read more about how we keep GOV.UK PaaS secure</a></p>

			<h2 class="heading-medium">Migrating to and from GOV.UK PaaS</h2>

			<p>GOV.UK PaaS requires that your application is built to meet modern standards. It’s easier to migrate to GOV.UK PaaS if your application is “<a href="https://thenewstack.io/10-key-attributes-of-cloud-native-applications/">cloud native</a>” and built using <a href="https://docs.cloud.service.gov.uk/architecture.html#12-factor-application-principles/">12 factor application principles</a>.</p>

			<p>This also makes it easier to move to other platforms if you decide you want to, especially if you move to another Cloud Foundry-based PaaS provider or container based platform.</p>

			<h2 class="heading-medium">Support and maintenance</h2>

			<p>We monitor the infrastructure and manage the patching of the platform’s operating systems and infrastructure components. When we update the platform, we use zero downtime deploys, so this won't interfere with the running of your application.</p>

			<p>We offer 24/7 platform support for live services</p>

			<p><a href="https://www.cloud.service.gov.uk/support-and-response-times">Read about the support we offer</a></p>

		</div>
	</div>
</div>
