
<% content_for :head do %>
	<title>Get started with GOV.UK PaaS - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Get started', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<nav class="sub-navigation">
				<ol itemscope itemtype="http://schema.org/ItemList">
					<li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="/get-started" itemprop="item"><span itemprop="name">Evaluate the platform</span></a>
					</li>
					<li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="/migrate-live-services" itemprop="item"><span itemprop="name">Migrate a live service to GOV.UK PaaS</span></a>
					</li>
				</ol>
			</nav>
		</div>

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Get started with GOV.UK PaaS</h1>
			<h2 class="heading-large">Evaluate GOV.UK PaaS</h2>
			<h3 class="heading-medium">Check our features and pricing</h3>
			<p>
				Make sure we currently support the <a href="https://docs.cloud.service.gov.uk/before_you_start.html#before-you-start">language, framework</a> and <a href="/features">backing services</a> you need. Our <a href="/roadmap">roadmap</a> lists the features planned for release in the coming months.
			</p>
			
			<p>
				You can also find out <a href="/pricing">how our pricing works</a> and <a href="https://admin.london.cloud.service.gov.uk/calculator">estimate your monthly costs</a>.
			</p>	
			
			<p>
				If you need more information to support your evaluation, please <a href="/support/find-out-more">get in contact with us</a>.
			</p>

			<h3 class="heading-medium">Request a free trial account</h3>
			<p>
				GOV.UK PaaS offers a 3 month trial period with a set of basic features and a capped quota of compute and storage.
			</p>
			
			<p>
				During this period you can test the majority of the features, including:
			</p>
			
			<ul class="list list-bullet">
			<li>managing user accounts</li>
			<li>creating and managing environments</li>
			<li>deploying and running apps</li>
			<li>using trial-sized editions of our backing services</li>
			</ul>
			<p>
				Keep in mind that you can’t use the trial version of the platform for production or live services.
			</p>
			<p> 
				<a href="/signup">Contact us to request an account</a>.
			</p>
			<p>
				When you request an account you can invite as many team members as you need and choose the ones who’ll be in charge of managing users. They’ll be able to request more user accounts, including ones for external suppliers, and assign <a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html#users-and-user-roles">roles and permissions</a>.
			</p>
			
			<h3 class="heading-medium">Push your first app</h3>
			<p>
				Once we set up your account and you have <a href="https://docs.cloud.service.gov.uk/get_started.html#set-up-command-line">installed the Cloud Foundry CLI</a>, you can access GOV.UK PaaS, set a password and start using the platform straight away. Our <a href="https://docs.cloud.service.gov.uk/get_started.html#get-started">get started</a> guide will help you deploy a static site to test your connection and then <a href="https://docs.cloud.service.gov.uk/deploying_apps.html#deploying-apps">push some sample code</a>, use the marketplace to <a href="https://docs.cloud.service.gov.uk/deploying_services/">request backing services like databases</a>, and set up multiple environments and a development pipeline.
			</p>
			
			<h3 class="heading-medium">Support during your trial</h3>
			
			<p>
				Check the documentation to <a href="https://docs.cloud.service.gov.uk/troubleshooting.html#troubleshooting">troubleshoot common problems</a>. If you can’t find a solution our team can help during office hours. Contact us through our <a href="/support">support page</a>.
			</p>
			
			<h2 class="heading-large">Start using a paid quota</h3>
			
			<p>
				To access full platform features or to use GOV.UK PaaS for production or live services, you will need to be on a paid quota.
			</p>	
			
			<p>
				To start using a paid quota, your department will need to sign a Memorandum of Understanding (MOU) with Government Digital Service. Contact us to find out if your department has signed an MOU, or to get a copy.
			</p>
			
			<p>
				Once your department has signed an MOU, you will need to:
			</p>
			<ul class="list list-bullet">
			<li><a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html#users-and-user-roles">add a Billing Manager to your GOV.UK PaaS organisation</a>, who can authorise and manage payment for the service</li>
			<li>email <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> to request the upgrade, copying in your Billing Manager</li>	
			</ul>

			<a class="button" href="/signup">Request an account</a>
		</div>
	</div>
</div>
