<% content_for :head do %>
	<title>Pricing - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Pricing', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<nav class="sub-navigation">
				<ol itemscope itemtype="http://schema.org/ItemList">
					<li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="/pricing" itemprop="item"><span itemprop="name">Pricing</span></a>
					</li>
					<li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="https://admin.london.cloud.service.gov.uk/calculator" itemprop="item"><span itemprop="name">Calculate the costs</span></a>
					</li>
				</ol>
			</nav>
		</div>

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">How much GOV.UK PaaS costs and how to pay</h1>

			<p>
				When you use GOV.UK PaaS, you will just pay for the resources you use.
			</p>


			<p>
				These resources are:
			</p>
			<ul class="list list-bullet">
				<li>the application memory needed to run your service</li>
				<li>the databases or other data storage that we can provide for your service</li>
			</ul>
			<p>
				You can adjust the amount of resources you are using at any time, depending on what you need. You can visit <a href="https://admin.london.cloud.service.gov.uk/marketplace">our marketplace</a> to see what backing services are available and <a href="https://admin.london.cloud.service.gov.uk/calculator">use our pricing calculator to estimate the costs of hosting your service</a> on GOV.UK PaaS.
			</p>
			<p>
				The price we charge includes a 10% service fee to cover the internal overhead of procuring and making these resources available to you, and making sure the platform complies with information assurance standards.
			</p>
			<p>
				included in this price are:
			</p>
			<ul class="list list-bullet">
				<li>as many <a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html">users or organisations</a> as you need</li>
				<li>access to our all our <a href="/support-and-response-times">support channels</a>, including 24/7 support for live services</li>
				<li>a user friendly administration tool for managing your organisations, users, applications and billing</li>
				<li>full access to all the <a href="/features">features of the platform</a></li>
			</ul>

			<h2 class="heading-medium">How to start using the paid service</h2>

			<p>
				We offer a free trial account to help you evaluate the platform. A trial account offers limited features and lasts for 3 months.
			</p>
			<p>
				To start using the paid service, your organisations will need to sign a Crown or non-Crown Memorandum of Understanding (MOU) with Government Digital Service depending on the type of organisation the service belongs to. Contact us to find out if your organisation has signed an MOU, or to get a copy.
			</p>


			<p>
				Once your department has signed an MOU, you will need to:
			</p>
			<ul class="list list-bullet">
				<li><a href="https://docs.cloud.service.gov.uk/orgs_spaces_users.html#users-and-user-roles">add a Billing Manager to your GOV.UK PaaS organisation</a>, who can authorise and manage payment for the service</li>
				<li>email <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> to request a paid account, copying in your Billing Manager. They will need to authorise the request.</li>
			</ul>

			<h2 class="heading-medium">How to pay</h2>
			<p>
			When you start using the paid service, we will ask you to estimate your annual spend and send us a purchase order. After that we will send you regular invoices.
			</p>
			<p>
			The table below shows how often we will send you an invoice, which depends on how much you spend.
			</p>
			<p>
			You will start paying from your first full month of use.
			</p>
			<table>
				<thead>
					<tr>
						<th scope="col">Billable amount per month</th>
						<th scope="col">Billing frequency</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Less that £1000</td>
						<td>Yearly</td>
					</tr>
					<tr>
						<td>£1000 to £5000</td>
						<td>Every 6 months</td>
					</tr>
					<tr>
						<td>More than £5000</td>
						<td>Quarterly</td>
					</tr>
				</tbody>
			</table>


			<h3 class="heading-medium">Paying with a Government Procurement Card</h3>
			<p>If you expect your annual bill to be less than £500, you will also have the option to pay via a Government Procurement Card and would not need to raise a purchase order.</p>

			<h3 class="heading-medium">Paying for GOV.UK PaaS for use in the Cabinet Office</h3>
			<p>If you are using GOV.UK PaaS in the Cabinet Office then we will arrange to account for the cost through an accounting journal raised by the GDS Finance Business Partner with the Finance Business Partner in your business area. This will require prior approval from your budget holder.</p>
		</div>
	</div>
</div>
