<% content_for :head do %>
	<title>Product Roadmap - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Features, roadmap and security', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<%== erb :'partials/_subnav', :locals => {active: 'roadmap'} %>
		</div>

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Roadmap</h1>
			<p>This is what we plan to deliver in the coming months, and what we expect to work on longer term.</p>
			<p>It’s a guide that’s updated regularly, and things might change.</p>
			<p>To request a feature, ask any questions or provide any other feedback about GOV.UK PaaS, please get in touch with the team via <a class="govuk-link" href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a></p>

			<h2 class="heading-medium">Features we've recently completed</h2>
			<ul class="list list-bullet">
				<li>S3 object storage</li>
				<li>Non-crown offering</li>
				<li>Support for Google and Microsoft single-sign on</li>
			</ul>

			<h2 class="heading-medium">What we're working on next</h2>
			<ul class="list list-bullet">
				<li>Application and service metrics in GOV.UK PaaS Admin Tool</li>
				<li>Private beta of custom metrics for tenants (e.g. Prometheus on GOV.UK PaaS)</li>
			</ul>

			<h2 class="heading-medium">What we'll work on later (next 6 to 12 months)</h2>
			<ul class="list list-bullet">
  				<li>Queues and app autoscaling</li>
				<li>CI/CD "as a service"</li>
				<li>Tenant tools for secrets management</li>
			</ul>

			<h2 class="heading-medium">Development stages</h2>
			<p>Most features we’re building go through the following stages of development:</p>
			<ul class="list list-bullet">
				<li>alpha: exploring the problem space and investigating possible solutions</li>
				<li>private beta: an early working version of the feature that’s tested by selected partners in a development environment - not suitable for use in production</li>
				<li>public beta: a production-ready version of the feature that has been subjected to Cabinet Office/GDS information approval and security governance</li>
				<li>live: a production-ready service that has been improved based on feedback during public beta</li>
			</ul>
		</div>
	</div>
</div>
