<% content_for :head do %>
	<title>Product Roadmap - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Features, roadmap and security', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<%== erb :'partials/_subnav', :locals => {active: 'roadmap'} %>
		</div>

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Roadmap</h1>
			<p>This is what we plan to deliver in the coming months, and what we expect to work on longer term.</p>
			<p>It’s a guide that’s updated regularly, and things might change.</p>
			<p>Get in touch with the team via <a class="govuk-link" href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a> to find out more about our roadmap and to tell us about features you need.</p>

			<h2 class="heading-medium">Now</h2>
			<ul class="list list-bullet">
				<li>S3 Object Storage public beta</li>
				<li>Make multi-factor authentication available to tenants</li>
				<li>Non-crown offering</li>
			</ul>

			<h2 class="heading-medium">Next</h2>
			<ul class="list list-bullet">
				<li>Tutorials and guides</li>
				<li>Metrics as a Service</li>
				<li>Logging as a Service</li>
			</ul>

			<h2 class="heading-medium">Later</h2>
			<ul class="list list-bullet">
				<li>App autoscaling</li>
				<li>Queues</li>
				<li>Make more backing service metrics available to tenants</li>
				<li>CI/CD as a Service</li>
			</ul>

			<h2 class="heading-medium">Development stages</h2>
			<p>Most features we’re building go through the following stages of development:</p>
			<ul class="list list-bullet">
				<li>alpha: exploring the problem space and investigating possible solutions</li>
				<li>private beta: an early working version of the feature that’s tested by selected partners in a development environment - not suitable for use in production</li>
				<li>public beta: a production-ready version of the feature that has been subjected to Cabinet Office/GDS information approval and security governance</li>
				<li>live: a production-ready service that has been improved based on feedback during public beta</li>
			</ul>
		</div>
	</div>
</div>
