<% content_for :head do %>
	<title>Product Roadmap - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Features, roadmap and security', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-one-third">
			<%== erb :'partials/_subnav', :locals => {active: 'roadmap'} %>
		</div>

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Roadmap</h1>
			<p>We're using GitHub to better communicate our roadmap to our users.</p>
			<p><a class="govuk-link" href="https://github.com/alphagov/paas-roadmap/projects/1?fullscreen=true">You can find our roadmap here.</a></p>
			<p>To request a feature, ask any questions or provide any other feedback about GOV.UK PaaS, please get in touch with the team via <a class="govuk-link" href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a></p>
		</div>
	</div>
</div>
